<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="assets/Img/SkeletonApp1.jpeg" alt="Login Imagen" class="login-background">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="onSubmit()">Ingresar</ion-button>
      <ion-button expand="full" color="medium" (click)="goToRegister()">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
